/******************************************************************
Site Name: Paradigm Group - Doing it properly
Author: Jack Machin

Stylesheet: Providers Stylesheet

This is where we do custom CSS for Strategic Partners to make their page look nice.

******************************************************************/

/***** Aegon *****/

.page-id-168,
.category-aegon,
.tag-aegon {

    .article-header {
		background-color: #0077C8;
        color:#fff;
        border-bottom: 1px solid darken(#0077C8, 9%);
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #0077C8;
            &:hover,
            &:focus {
                color: darken(#0077C8, 9%);
            }
        }

        h2,
        h3,
        h4,
        h5 {
            color: #0077C8;
        }
    }
}

/***** Ageas Page 233 *****/

.page-id-233,
.category-ageas,
.tag-ageas {}

/***** Aviva *****/

.page-id-234,
.category-aviva,
.tag-aviva {

    .article-header {
        background-color:#ffd900;
        border-bottom: 1px solid darken(#ffd900, 9%);
        color: #004fb6;

        .page-title {
            color: #004fb6;
        }
    }

    .entry-content,
    .article-footer {

        a,
        a:visited {
            color: #004fb6;

            &:hover,
            &:focus {
                color: darken(#004fb6, 9%);
            }
        }

        h2,
        h3,
        h4 {color: #004fb6;}
    }
}
/***** AXA (Wealth & Life Invest) *****/

.page-id-235,
.page-id-11095,
.tag-axa  {

    .article-header {
        background-color: #0b3881;
    }

	.entry-content,
    .article-footer {
        a,
        a:visited {
            color: #0b3881;

            &:hover,
            &:focus {
                color: darken(#0b3881, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #0b3881;
        }
    }
}

/***** Blackrock *****/

.page-id-236,
.tag-blackrock-2 {}


/***** Blackfinch *****/

.page-id-16598,
.tag-blackfinch {}

/***** BNY Mellon *****/

.page-id-11289,
.tag-bny {}

/***** Brand FT *****/

.tag-brand-ft {

    .article-header {
        background-color:#496394;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #2262ac;

            &:hover,
            &:focus {
                color: darken(#2262ac, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #2262ac;
        }
    }
}

/***** Bright Grey *****/

.page-id-237,
.tag-bright-grey  {}

/***** Cater Allen Private Bank *****/

.page-id-238,
.tag-cater-allen  {}

/***** Columbia Threadneedle *****/

.page-id-264,
.tag-threadneedle {

    .article-header {
        background-color:#003D6D;
        border-bottom: 1px solid darken(#003D6D, 9%);
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #003D6D;

            &:hover,
            &:focus {
                color: darken(#003D6D, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #003D6D;
        }
    }
}

/***** Defaqto *****/

.page-id-19456,
.tag-defaqto{

    .article-header {
        background-color:#005493;
        border-bottom: 1px solid darken(#005493, 9%);
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #005493;

            &:hover,
            &:focus {
                color: darken(#005493, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #005493;
        }
    }
}

/***** Fidelity *****/

.page-id-239,
.tag-fidelity {}

/***** FriendsLife *****/

.page-id-240,
.tag-friends-life  {}

/***** Goldman Sachs *****/

.page-id-20608,
.tag-goldman-sachs  {

    .article-header {
        background-color:#7399C6;
        border-bottom: 1px solid darken(#7399C6, 9%);
        color:#fff;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #7399C6;

            &:hover,
            &:focus {
                color: darken(#7399C6, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #7399C6;
        }
    }
}

/***** Henderson Global Investors Page *****/

.page-id-241,
.tag-henderson {}

/***** Ingenious Investments *****/

.page-id-242,
.tag-ingenious {
    .article-header {
        background-color:#004F71;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #004F71;

            &:hover,
            &:focus {
                color: #004F71;
            }
        }

        h2,
        h3,
        h4 {
            color: #004F71;
        }
    }
}

/***** Investec *****/

.tag-investec,
.page-id-24787 {

    .article-header {
        background-color: #000;
        border-bottom: 1px solid #000;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #000;

            &:hover,
            &:focus {
                color: #000;
            }
        }

        h2,
        h3,
        h4 {
            color: #000;
        }
    }
}

/***** Intelliflo *****/

.page-id-18313,
.tag-intelliflo {

    .article-header {
        background-color:#496394;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #496394;

            &:hover,
            &:focus {
                color: darken(#496394, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #496394;
        }
    }
}

/***** J.P. Morgan *****/

.page-id-243,
.tag-jp-morgan {}

/***** Just Retirement *****/

.tag-just-retirement {

    .article-header {
        background-color:#273188;
    }
	.entry-content,
    .article-footer {
        a,
        a:visited {
            color: #273188;

            &:hover,
            &:focus {
                color: darken(#273188, 9%);
            }
        }

        h2,
        h3,
        h4 {color: #273188;}
	}
}

/***** Just *****/

.page-id-4174,
.tag-just {
    .article-header {
        background-color:#ff7d7d;
        color:#000;
        border-bottom: 1px solid darken(#ff7d7d, 9%);
    }
	.entry-content,
    .article-footer {
        a,
        a:visited {
            color:#ff7d7d;

            &:hover,
            &:focus {
                color: darken(#ff7d7d, 9%);
            }
        }

        h2,
        h3,
        h4 {color: #ff7d7d;}
	}
}

/***** Legal & General *****/

.page-id-244,
.tag-legal-general {
    .article-header {
		background-color: #006688;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #006688;
            &:hover,
            &:focus {
                color: darken(#006688, 9%);
            }
        }

        h2,
        h3,
        h4,
        h5 {
            color: #0077C8;
        }
    }
}

/***** Legal & General Investments *****/

.page-id-245,
.tag-legal-general-investments {
    .article-header {
        background-color: #068;
    }

    .entry-content,
    .article-footer {
	   a,
        a:visited {
            color: #068;

            &:hover,
            &:focus {color: darken(#006688, 9%);}
        }
	h2,
    h3,
    h4 {color: #068;}
	}
}

/***** London & Colonial *****/

.page-id-24547,
.tag-london-colonial {

    .article-header {
        background-color:#000;
        border-bottom: 1px solid #000;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {color: #b6121c;
            &:hover,
            &:focus {
                color: darken(#b6121c, 9%);
            }
        }

        h2,
        h3,
        h4 {color: #273188;}
    }
}

/***** M&G *****/

.page-id-246,
.tag-mg,
.tag-mg-2 {

    .article-header {
        background-color:#004F5C;
        border-bottom: 1px solid darken(#004F5C, 9%);
        color:#fff;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #004F5C;

            &:hover,
            &:focus {
                color: darken(#004F5C, 9%);
            }
        }

        h2,
        h3,
        h4 {color: #004F5C;}
	}
}
/***** Metlife *****/

.page-id-247,
.tag-metlife-2  {

    .article-header {
        background-color:#007cc2;
        border-bottom: 1px solid darken(#007cc2, 9%);
        color:#fff;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #007cc2;

            &:hover,
            &:focus {
                color: darken(#007cc2, 9%);
            }
        }

        h2,
        h3,
        h4 {color: #007cc2;}
	}
}

/***** OBSR *****/

.page-id-248 {}


/***** Octopus *****/

.page-id-249,
.tag-octopus {

    .article-header {
        background-color:#336699;
        border-bottom: 1px solid darken(#336699, 9%);
        color:#fff;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #336699;

            &:hover,
            &:focus {color: darken(#336699, 9%);}
        }

        h2,
        h3,
        h4 {color: #336699;}
	}
}

/***** Old Mutual *****/

.page-id-24671,
.tag-old-mutual {

    .article-header {
        background-color: #006150;
        color:#fff;
        border-bottom: 1px solid darken(#006150, 9%);
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #006150;

            &:hover,
            &:focus {
                color: darken(#006150, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #006150;
        }
    }
}

/***** Para-Sols ****/

.page-id-19474,
.tag-parasols {

    .article-header {
        background-color: #005A84;
        border-bottom: 1px solid darken(#005A84, 9%);
        color:#fff;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #005A84;

            &:hover,
            &:focus {
                color: darken(#005A84, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #005A84;
        }
    }
}

/***** Partnership *****/

.page-id-250,
.category-partnership,
.category-partnership-newsletter,
.category-target-partnership,
.tag-partnership,
.category-partnership-december-14,
.category-328 {

    .article-header {
        background-color: #6eb43f;
    }
    .entry-content,
    .article-footer {
        a {
            color: #6eb43f;

            &:hover,
            &:focus ,
            &:visited {
                color: darken(#6eb43f, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #6eb43f;
        }

    }

    .partnership-title {
        background-color: #fff;
        color: #6eb43f;
        text-align: left;
    }

    .partnershipcontents {
        background-color:#6eb43f;
        padding: 1em;

        ul {
            list-style-type: disc;
            margin-left:2em;
        }

        a {
            color: #fff;

            &:hover,
            &:focus,
            &:visited {
                color: darken(#fff, 9%) !important;
            }
        }

        h2,
        h3 {
            color:#fff;
        }
    }
}

/***** Prudential *****/

.page-id-251,
.tag-prudential {

    .article-header {
        background-color:#CC0000;
        border-bottom: 1px solid darken(#CC0000, 9%);
        color:#fff;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #CC0000;

            &:hover,
            &:focus {
                color: darken(#CC0000, 9%);
            }
        }

        h2,
        h3,
        h4,
        h5 {
            color:#CC0000;
        }
    }
}

/***** Quilter *****/

.page-id-252,
.tag-quilter {

    .article-header {
        background-color:#079DB8;
    }
	.entry-content,
    .article-footer {
        a,
        a:visited {
            color: #079DB8;

            &:hover,
            &:focus {
                color: darken(#079DB8, 9%);
            }
        }

        h2,
        h3,
        h4 {color:#079DB8;}
	}

}

/***** Red *****/

.tag-red {

    .article-header {
        background-color:#cd2027;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #cd2027;

            &:hover,
            &:focus {
                color: darken(#cd2027, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #cd2027;
        }
    }
}


/***** Retirement Advantage *****/

.page-id-21955,
.tag-retirement-advantage {

    .article-header {
        background-color: #00ab8e;
        border-bottom: 1px solid darken(#00ab8e, 9%);
        color:#fff;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #00ab8e;

            &:hover,
            &:focus {
                color: darken(#00ab8e, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #00ab8e;
        }
    }
}

/***** Royal London *****/

.page-id-11297,
.tag-scottish-life,
.tag-royal-london {

    .article-header {
        background-color: #421853;
        border-bottom: 1px solid darken(#421853, 9%);
        color:#fff;
    }

	.entry-content,
    .article-footer {
        a,
        a:visited {
            color: #421853;

            &:hover,
            &:focus {color: darken(#421853, 9%);}
        }

        h2,
        h3,
        h4 {color:#421853;}
	}
}

/***** Santander *****/

.page-id-11209,
.tag-santander {

    .article-header {
        background-color: #ff0000;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #ff0000;

            &:hover,
            &:focus {
                color: darken(#ff0000, 9%);
            }
    }

        h2,
        h3,
        h4 {
            color: #ff0000;
        }
    }
}

/***** Schroders *****/

.page-id-253,
.tag-schroders {

    .article-header {
        background-color: #003772;
        border-bottom: 1px solid darken(#003772, 9%);
        color:#fff;
    }
	.entry-content,
    .article-footer {
        a,
        a:visited {
            color: #003772;

            &:hover,
            &:focus {color: darken(#003772, 9%);}
        }

        h2,
        h3,
        h4 {color: #003772;}
	}
}

/***** Scottish Provident *****/

.page-id-254,
.tag-scottish-provident  {

    .article-header {
        background-color: #001D68;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #001D68;

            &:hover,
            &:focus {color: darken(#001D68, 9%);}
        }

        h2,
        h3,
        h4 {color: #001D68;}
	}
}

/***** Scottish Widows *****/

.page-id-255,
.tag-scottish-widows {

    .article-header {
        background-color:#cf002d;
    }
	.entry-content,
    .article-footer {
        a,
        a:visited {
            color: #cf002d;

            &:hover,
            &:focus {color: darken(#cf002d, 9%);}
        }

        h2,
        h3,
        h4 {color: #cf002d;}
	}
}

/***** Selectapension *****/

.page-id-260,
.tag-selectapension {

    .article-header {
        background-color:#529FC5;
        border-bottom: 1px solid darken(#529FC5, 9%);
        color:#fff;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #529FC5;

            &:hover,
            &:focus {
                color: darken(#529FC5, 9%);
            }
        }

        h2,
        h3,
        h4 {
            color: #529FC5;
        }
    }
}

/***** Skandia *****/

.page-id-261,
.category-skandia,
.tag-skandia {

    a,
    a:visited {
        color: #008066;

        &:hover,
        &:focus {
            color: darken(#008066, 9%);
        }
    }

    h1 {
        color: #fff;
        background-color:#008066;
        border-radius:1em;
        text-align:center;
    }

    .skandia {
        background-color:#e6e6e6;
    }

    h2,
    h3,
    h4 {
        color: #008066
    }
}

/***** Smith & Williamson *****/

.page-id-262,
.tag-smith-williamson {

    .article-header {
        background-color: #880C00;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #880C00;

            &:hover,
            &:focus {color: darken(#880C00, 9%);}
        }

        h2,
        h3,
        h4 {color:#880C00;}
	}
}

/***** Suffolk Life *****/

.page-id-263,
.tag-suffolk-life {

    .article-header {
        background-color: #1BBCF3;
    }

	.entry-content,
    .article-footer {
        a,
        a:visited {
            color: #1BBCF3;

            &:hover,
            &:focus {color: darken(#1BBCF3, 9%);}
        }

        h2,
        h3,
        h4 {color:#1BBCF3;}
	}
}

/***** TIME *****/

.page-id-21909,
.tag-time {

    .article-header {
        background-color: #005581;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #005581;

            &:hover,
            &:focus {
                color: darken(#005581, 9%);
            }
        }

        h2,
        h3,
        h4,
        h5 {
            color: #005581;
        }
    }
}

/***** Zurich *****/

.page-id-265,
.tag-zurich {

    .article-header {
        background-color:#003399;
    }

    .entry-content,
    .article-footer {
        a,
        a:visited {
            color: #003399;

            &:hover,
            &:focus {color: darken(#003399, 9%);}
        }

        h2,
        h3,
        h4 {color:#003399;}
	}
}
